#project{
    width: 100%;
    height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

#project .para{
    font-size: 4vmax;
     text-align: center;
     background: linear-gradient(to right, #f5052dde,rgb(255, 255, 255));
     background-clip: text;
     color: transparent;
}

.slider{
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    gap: 20px;
    overflow-x: scroll;
    scrollbar-width: none;
    padding: 20px;
}
